.enel{
    width: 100px;
    height: 33px;
    object-fit: contain;
}

.sedapal{
    width: 100px;
    height: 33px;
    object-fit: contain;  
}
.fecha{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fecha p{
    margin: 0 auto;
}

.div-nivel{
    display: flex;
    align-content: center;
    justify-content: center;

}
.nivel{
    background-color: rgba(112, 173, 71, 1);
    color: #fff;
    width: 100px;
    font-size: 17px;
    padding: 3px ;
    border-radius: 5px;
    margin:5px;
}
.galeria{
    background-color: rgba(237, 125, 49, 1);
    color: #fff;
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    padding: 3px ;
    border-radius: 5px;
    margin:5px;
}

table{
    font-size: 11px;
    margin-bottom: 8px !important;
}
table thead tr{
    line-height: 1.2;
}

table tbody tr{
    line-height: .5;
}

body{
    margin: 30px 60px !important;
}

.titulo{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.inicio{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.imgs div p{
    font-weight: bold;
}


/* @media (max-width: 600px){
    body{
        margin: auto 7px !important;
    }

    #contenido div{
        margin: 0 15px !important;
    }

    #contenido div b{
        margin: auto 3px !important;
        padding: 0 !important;

    }

    #contenido div input{
        margin: 0 !important ;
        margin-right: 7px !important;
    }

    #contenido2 div{
        margin: 0 15px !important;
    }

    #contenido2 div b{
        margin: auto 3px !important;
        padding: 0 !important;
    }

    #contenido2 div input{
        margin: 0 !important ;
        margin-right: 7px !important;
    }

    #cabecera{
        margin: 5px !important;
        background-color: black;
        color: #fff;
        width: auto !important;
    }

    #cabecera div{
        max-width: 120px !important;
        padding: 5px !important;
        margin: 0 !important;
        border: 1px solid #fff;
    }
} */

@media (max-width: 375px){
    body{
        margin: auto 7px !important;
    }

    #contenido div{
        margin: 0 10px !important;
    }

    #contenido div b{
        
        margin: auto 3px !important;
        padding: 0 !important;
        /* font-size: 13px; */
    }
    #contenido div b:nth-child(1){
        min-width: 55px;
        max-width: 60px;
    }
    #contenido div b:nth-child(2){
        min-width: 60px;
        margin-right: 65px !important;
        /* background-color: red; */
    }

    #contenido div input{
        min-width: 50px;
        margin: 0 0 0 15px!important;

    }

    /* 2 */
    #contenido2 div{
        /* margin: 0 15px !important; */
    }

    #contenido2 div b{
        /* margin: auto 3px !important; */
        padding: 0 !important;
        color: red;
    }

    #contenido2 div input{
        margin: 0 !important ;
        margin-right: 7px !important;
    }

    /* cabecera */
    #cabecera{
        margin: 5px !important;
        background-color: green;
        color: #fff;
        width: 100%;

        font-size: 12px;

        vertical-align: middle;

    }

    #cabecera div:nth-child(1){
        min-width: 25px ;
        max-width: 25px !important;
    }
    #cabecera div:nth-child(2){
        min-width: 140px !important;
    }

    #cabecera div{
        max-width: 120px !important;
        padding: 5px !important;
        margin: 0 !important;
        border: 1px solid #fff;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    .inserts{
        font-size: 13px;
        letter-spacing: 0.5px;
        margin: 0 !important;
    }

    .inserts b{
        
    }
}